main {
	min-height: 80vh;
}
h1 {
	text-transform: uppercase;
	font-size: 1.8rem;
	padding: 1rem 0;
}
h2 {
	text-transform: uppercase;
	font-size: 1.4rem;
	padding: 0.5rem;
}
h3 {
	padding: 1rem 0;
}

.rating span {
	margin: 0.1rem;
}
a {
	color: #000;
}
.plus-sign-margin {
	margin: 0.4rem;
}
.push-to-right {
	margin-left: 0.6rem;
}

.melvin-kisten {
	color: #000;
	margin-right: 0.4rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
	display: flex;
}
.carousel-caption {
	position: absolute;
	top: 0;
}

.carousel-caption h2 {
	color: #000;
}

.carousel img {
	height: 300px;
	padding: 30px;
	margin: 40px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}
.carousel a {
	margin: 0 auto;
}
@media (max-width: 900px) {
	.carousel-caption h2 {
		font-size: 2.5vw;
	}
}
